<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
        <div class="flex justify-end">
            <a class="bg-red-500 rounded-md px-5 py-3 text-sm mb-5 inline-block" href="/logout">Logout</a>
        </div>
        
        <h5 class=" mb-5">edit your post</h5>
        <form action="/update/<%= post._id %>" method="post">
            <textarea placeholder="what's on your mind" class="w-2/3  block p-3 outline-none resize-none bg-transparent border-2 border-zinc-800 rounded-md" name="content"><%= post.content %></textarea>
            <input class="w-40 px-3 py-2 bg-yellow-500 text-black rounded-md block mt-2 text-sm " type="submit" value="update post">
        </form>

    </div>
</body>
</html>